.App {
  text-align: center;
  overflow: hidden;
}

.map-container {
  position: relative;
  height: 100vh;
}

.popup-content {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  padding: 10px;
  text-align: left;
  border-radius: 4px;
}

.popupTitle {
  font-size:14pt;
  margin-bottom: 0;
}

.popupText {
  font-size: 11pt;
  margin-bottom: 0;
  margin-top: 4px;
}

.popupText2 {
  font-size: 10pt;
  margin-bottom: 0;
  margin-top: 4px;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #0c0243;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
  opacity: 90%;
  color: white;
}

.nav-icon {
  width: 34px;
  height: 28px;
  object-fit: contain;
  color: white;
}

.mapboxgl-ctrl-bottom-left {
  top: 9px;
}

.mapboxgl-ctrl-bottom-right {
  margin-bottom: 52px !important;
}

.mapboxgl-compact {
  margin-bottom: 52px !important;
}

.weather-marker {
  width: 20px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  background-image: url('../public/src/icons/windCalm.png'); /* Path to your weather icon image */
  background-size: contain;
  background-repeat: no-repeat;
  transform-origin: center center;
}

.place-name-marker {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 12px;
  font-family: Arial, sans-serif;
  color: #333;
  text-align: center;
  white-space: nowrap;
  transform: translate(-50%, -50%);
}

.geocoder-container {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0.8;
}

.mapboxgl-ctrl-top-right {
  margin-top: 36px;
}

/* Override the default user location marker */
.mapboxgl-user-location-dot {
  background-image: url('../public/src/icons/boat.png') !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-color: transparent !important;  /* Ensure only the color is transparent */
  width: 28px !important;  /* Adjust size as needed */
  height: 28px !important; /* Adjust size as needed */
  border-radius: 0 !important;  /* Remove default border radius */
  box-shadow: none !important;  /* Remove default shadow */
}

.mapboxgl-user-location-dot::before {
  display: none !important;
}

.mapboxgl-user-location-dot::after {
  display: none !important;
}

.mapboxgl-user-location-heading {
  display: none !important;
}

.info-box {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(12, 2, 67, 0.9);
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white;
}

.info-box p {
  margin: 0;
}

.info-box button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.info-box button:hover {
  background-color: #0056b3;
}

.ruler-button {
  position: absolute;
  top: 181px;
  right: 10px;
  padding: 0;
  background-color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 29px;
  height: 29px;
  box-shadow: 0 0 0 2px rgba(0,0,0,.1);
}

.ruler-button img {
  width: 24px;
  height: 24px;
}

.ruler-button.active {
  background-color: #75e18e;
}

.ruler-button:hover {
  background-color: #ececec;
}

.map-information-button {
  position: fixed;
  top: 5px;
  right: 10px;
  padding-left: 6pt;
  padding-right: 6pt;
  text-align: center;
  line-height: 0px;
  background-color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 29px;
  z-index: 3000;
}

.map-information-button:hover {
  background-color: #ececec;
}

.toggle-markers-button {
  position: absolute;
  top: 218.7px;
  right: 10px;
  padding: 0;
  background-color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 29px;
  height: 29px;
  box-shadow: 0 0 0 2px rgba(0,0,0,.1);
}

.toggle-markers-button img {
  width: 24px;
  height: 24px;
}

.nav-button {
  background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.8), transparent);
  border: none;
  padding: 10px;
  cursor: pointer;
  color: white;
  width: 100%;
}

.inactiveButton {
  background: none !important;
}

.map-info-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black overlay */
  z-index: 999; /* Ensure it's above everything else except map-info-container */
}

.map-info-container {
  position: fixed;
  top: 56px;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%);
  width: 90%; /* Set width to 80% of screen width */
  max-width: 600px; /* Optional: Set maximum width */
  background-color: #dbedef;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  z-index: 1000;
  max-height: 80vh;
  overflow-y: auto;
}

.map-info-container img {
  height: 28px;
  padding-right: 4px;
}

.map-info {
  width: 300px; /* Adjust as needed */
}

.map-info-container p {
  text-align: left;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.map-info h3 {
  margin-top: 0;
}

.table-container {
  overflow-y: auto;
  max-height: calc(80vh - 80px); /* Adjust according to your layout */
}

.map-info-table {
  width: 100%;
  border-collapse: collapse;
}

.map-info-table td, .map-info-table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.map-info-table th {
  background-color: #f2f2f2;
}


.logo-container {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 40px;
  z-index: 2000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(194, 220, 224, 0.9));
  align-content: center;
}

/* Additional styles for image */
.logo-container img {
  width: 120px;
  vertical-align: middle;
}

.button-info-table {
  text-align: left;
}